<div>
    <mat-card>
        <mat-card-content>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">
                            <mat-form-field appearance="outline">
                                <mat-label>Busqueda</mat-label>
                                <input matInput placeholder="Buscar" [(ngModel)]="buscar">
                                <mat-icon matSuffix>search</mat-icon>
                            </mat-form-field>
                    </div>
                  
                </div>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0" role="table">
                            <thead class="theadp">
                                <tr class="botonnegro text-center">
                                    <th class="thp" scope="col" role="columnheader">Id</th>
                                    <th class="thp" scope="col" role="columnheader">Nombre</th>
                                    <th class="thp" scope="col" role="columnheader">DNI</th>
                                    <th class="thp" scope="col" role="columnheader">Fecha Nacimiento</th>
                                    <th class="thp" scope="col" role="columnheader">Sexo</th>
                                    <th  class="thp" scope="col" role="columnheader">Opciones</th>
                                </tr>
                            </thead>
                               <tbody role="rowgroup" class="tbodyp">
                                <tr class="text-center trp" role="row" *ngFor="let item of (_persona.responseusuario$ | async)! | filter:buscar:campo">
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.COD_PERSONA}}</td>
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.PRIMER_NOMBRE}} {{item.PRIMER_APELLIDO}}</td>
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.DNI}}</td>
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.FEC_NACIMIENTO}}</td>
                                    <td role="cell" data-title="Nombre" class="tdp"> {{item.SEXO}}</td>
                                    <td   role="cell" data-title="Opciones" class="tdp">
                                        <div class="text-center">                                          
                                            <div class="text-center">
                                                <button mat-button color="accent" class="botonnegro" (click)="pasarpersona(item)">Seleccionar</button>
                                            </div>                                
                                        </div>
                                    </td>
                                </tr>
                            </tbody> 
                        </table>
                      
                    </div>
        </mat-card-content>
    </mat-card>
</div>