<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form [formGroup]="formularioOdontograma" (ngSubmit)="guardarObservacionDiente()">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Diente N° {{odontologiaService.numeroDienteSeleccionado}} - Lado: {{odontologiaService.ladoSeleccionadoNombre}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                    <label for="form-select" class="form-label">Tratamiento:</label>
                    <select class="form-select" formControlName="tratamiento" aria-label="Default select example">
                        <option *ngFor="let tratamiento of tratamientos" [value]="tratamiento.ID_TRATAMIENTO">{{tratamiento.NOMBRE}}</option>
                    </select>
                    <label for="form-select" class="form-label mt-3">Observación (Opcional):</label>
                    <textarea class="form-control" placeholder="" formControlName="observacion" rows="2" id="floatingTextarea"></textarea>
                    <mat-button-toggle-group class="mt-3" formControlName="estado" name="favoriteColor" aria-label="Favorite Color">
                        <mat-button-toggle *ngFor="let estado of estadosDientes" [value]="estado">{{estado.NOMBRE}}  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="panorama_wide_angle_select" attr.style="color:{{estado.COLOR}}"></mat-icon></mat-button-toggle>
                    </mat-button-toggle-group>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" [disabled]="formularioOdontograma.invalid">Guardar</button>
            </div>
        </div>
    </form>
    </div>
</div>
