<div>
    <div class="col-lg-6">
        <nav aria-label="breadcrumb">
            <h1><strong class="text">Odontograma</strong></h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Inicio</a></li>
                <li class="breadcrumb-item active"><a>Odontograma</a></li>
            </ol>
        </nav>
    </div>
    <mat-card>
        <mat-card-content>

            <div class="row text-center">
                <ng-template #odontograma>
                    <h1 class="text-center"><strong>Odontograma</strong></h1>
                    <div class="col-lg-4">
                        <h4><strong>Nombre paciente: </strong>{{pacienteService.selectedNamePaciente}}</h4>
                    </div>
                    <div class="col-lg-12">
                        
                        <!-- Superiores -->
                        <div class="d-flex justify-content-center">
                            <!-- Superiores izquierdos-->
                            <div class="d-flex">
                                <div *ngFor="let item of dientes1">
                                    <app-diente [numeroDiente]="item"></app-diente>
                                </div>
                            </div>
                            <!-- Superiores Derechos-->
                            <div class="d-flex">
                                <div *ngFor="let item of dientes2">
                                    <app-diente [numeroDiente]="item"></app-diente>
                                </div>
                            </div>
                        </div>

                        <!-- CENTRALES -->
                        <!-- Superiores centrales -->
                        <div class="d-flex justify-content-center mt-3">
                            <!-- Superiores centrales izquierdos-->
                            <div class="d-flex">
                                <div *ngFor="let item of dientes5">
                                    <app-diente [numeroDiente]="item"></app-diente>
                                </div>
                            </div>
                            <!-- Superiores centrales Derechos-->
                            <div class="d-flex">
                                <div *ngFor="let item of dientes6">
                                    <app-diente [numeroDiente]="item"></app-diente>
                                </div>
                            </div>
                        </div>
                        <!-- Inferiores centrales -->
                        <div class="d-flex justify-content-center mt-3">
                            <!-- Inferiores centrales izquierdos-->
                            <div class="d-flex">
                                <div *ngFor="let item of dientes8">
                                    <app-diente [numeroDiente]="item"></app-diente>
                                </div>
                            </div>
                            <!-- Inferiores centrales Derechos-->
                            <div class="d-flex">
                                <div *ngFor="let item of dientes7">
                                    <app-diente [numeroDiente]="item"></app-diente>
                                </div>
                            </div>
                        </div>

                        <!-- Inferiores -->
                        <div class="d-flex justify-content-center mt-3">
                            <!-- Inferiores izquierdos-->
                            <div class="d-flex">
                                <div *ngFor="let item of dientes4">
                                    <app-diente [numeroDiente]="item"></app-diente>
                                </div>
                            </div>
                            <!-- Inferiores Derechos-->
                            <div class="d-flex">
                                <div *ngFor="let item of dientes3">
                                    <app-diente [numeroDiente]="item"></app-diente>
                                </div>
                            </div>
                        </div>

                        <!-- HACER 8 NG-FOR -->
                    </div>

                </ng-template>
            </div>
            <br>

            <div class="row d-flex justify-content-end">
                <div class="col-lg-2">
                    <button class="btn btn-primary" (click)="guardarOdonto()">Generar presupuesto</button>
                </div>
            </div>

        </mat-card-content>
    </mat-card>

</div>

<app-modal></app-modal>