<mat-card class="p-4">
    <mat-card-title><h4 class="text-center"><strong class="texto">{{_service.register.get('ID_PARAMETRO')?.value ? "ACTUALIZAR":"CREAR"}}</strong></h4></mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Parametro</mat-label>
                <input matInput placeholder="Ingrese parametro" formControlName="PARAMETRO" maxlength="20" minlength="1">
                <mat-hint align="start" *ngIf="validateOpinion['PARAMETRO'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Valor</mat-label>
                <input matInput placeholder="Ingrese valor" formControlName="VALOR" maxlength="20" minlength="1">
                <mat-hint align="start" *ngIf="validateOpinion['VALOR'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
            </mat-form-field>
            <br>
        </form>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button class="m-1 botonnegro" color="primary" (click)="guardar()" [disabled]="!_service.register" >{{_service.register.get('ID_PARAMETRO')?.value ? "Actualizar":"Crear"}}</button>
      <button mat-raised-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
 
