<div id="reporte" class="table-responsive">
    <table class="table  bordeTabla tablep" role="table">
        <thead class="theadp">
            <tr class="botonnegro text-center">
                <th class="thp" scope="col" role="columnheader">Fecha</th>
                <th class="thp" scope="col" role="columnheader">Estado diente</th>
                <th class="thp" scope="col" role="columnheader">Observación</th>
                <th class="thp" scope="col" role="columnheader">Estado proceso</th>
                <th class="thp" scope="col" role="columnheader">Tratamiento</th>
            </tr>
            
        </thead>
        <tbody role="rowgroup" class="tbodyp">
            <tr class="text-center trp" role="row" *ngFor="let evento of odontologiaService.historial">
                <td role="cell" data-title="Nombre" class="tdp">{{ evento.FECHA | date}}</td>
                <td role="cell" data-title="Nombre" class="tdp">{{ evento.ESTADO }}</td>
                <td role="cell" data-title="Nombre" class="tdp">{{ evento.OBSERVACION }}</td>
                <td role="cell" data-title="Nombre" class="tdp">{{ evento.ESTADO_PROCESO }}</td>
                <td role="cell" data-title="Nombre" class="tdp">{{ evento.TRATAMIENTO }}</td> 
            </tr>
        </tbody>
    </table>
</div>