<mat-card class="p-4">
    <mat-card-title><h4 class="text-center texto"><strong>{{_service.register.get('ID_ENFERMEDAD')?.value ? "ACTUALIZAR":"CREAR"}}</strong></h4></mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ingrese nombre" formControlName="NOMBRE" 
                onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                onkeyup="javascript:this.value=this.value.toUpperCase();" oncopy="return false"
                onpaste="return false" minlength="3" maxlength="20">
                <mat-hint align="start" *ngIf="validateOpinion['NOMBRE'].hasError('required')"><strong  class="text-danger" >Campo requerido!</strong> </mat-hint>
            </mat-form-field>
            <br>
        </form>
    </mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="m-1 botonnegro" (click)="guardar()" [disabled]="!_service.register" >{{_service.register.get('ID_ENFERMEDAD')?.value ? "Actualizar":"Crear"}}</button>
      <button mat-raised-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
 
