




    <div class="row">


        <div class="col-lg-3">
            <div class="card info-card sales-card">

                <div class="card-body">
                    <h2 class="card-title  fw-bold">Pacientes <span></span></h2>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                        </div>
                        <div class="ps-3">
                            <h6>{{pacientes}}</h6>
                            <span class="text-success small pt-1 fw-bold"></span> <span
                                class="text-muted small pt-2 ps-1">Incremento</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3">
            <div class="card info-card sales-card">

                <div class="card-body">
                    <h2 class="card-title  fw-bold">Médicos <span></span></h2>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                        </div>
                        <div class="ps-3">
                            <h6>{{medico}}</h6>
                            <span class="text-success small pt-1 fw-bold"></span> <span
                                class="text-muted small pt-2 ps-1">Incremento</span>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-lg-3">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h2 class="card-title  fw-bold">Especialidades <span></span></h2>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <h6></h6>
                            <span class="text-danger small pt-1 fw-bold"></span> <span
                                class="text-muted small pt-2 ps-1">Incremento</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-lg-3">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h2 class="card-title  fw-bold">Usuarios <span></span></h2>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <h6>{{usuarios}}</h6>
                            <span class="text-danger small pt-1 fw-bold"></span> <span
                                class="text-muted small pt-2 ps-1">Incremento</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr class="mb-3">

        <div class="d-flex justify-content-center">

            <ngx-charts-bar-horizontal
            [view]="view"
            [scheme]="'vivid'"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="''"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
    
            </ngx-charts-bar-horizontal>
        </div>

        <hr class="mt-3">
        <div class="col-lg-6">
            <div class="card info-card sales-card">

                <div class="card-body">
                    <h2 class="card-title fw-bold">Cuestionarios <span></span></h2>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-arrow-right"></i>
                        </div>
                        <div class="ps-3">
                            <a routerLink="/mantenimiento/cuestionario" class="pt-2 ps-1">Ir a mantenimiento</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="card info-card sales-card">

                <div class="card-body">
                    <h2 class="card-title fw-bold">Enfermedades <span></span></h2>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-arrow-right"></i>
                        </div>
                        <div class="ps-3">

                            <a routerLink="/mantenimiento/enfermedades" class="pt-2 ps-1">Ir a mantenimiento</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        

    </div>

