/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fondo {
    background-color: #FFFFFF !important; 
}


.botonnegro {
    background-color: #000000 !important;
color: #efb810 !important;
}

.yellowButton {
    background-color: #efb810 !important;
color: #000000 !important;
}

.texto {
    color: #efb810 !important;
}


.textonegro {
    color:#000000
}



