<mat-card class="p-4">
  <mat-card-title>
    <h4 class="text-center"><strong>{{_service.register.get('ID_USUARIO')?.value ? "ACTUALIZAR":"CREAR"}}</strong></h4>
  </mat-card-title>
  <mat-card-subtitle>
    <form [formGroup]="_service.register">
      <div class="row">

        <div class="col-lg-6">
          <button  mat-raised-button class="btn-lg btn-block botonnegro" color="primary" (click)="eventpersona()">Personas</button>
          <h4 class="p-2"><strong class="texto">Persona:</strong> {{_service.nombre}} </h4>
        </div>

        <div class="col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Roles</mat-label>
            <mat-select formControlName="ID_ROL">
              <mat-option *ngFor="let food of (_roles.response$ | async)" [value]="food.ID_ROL">
                {{food.NOMBRE_ROL}}
              </mat-option>
            </mat-select>
            <mat-hint align="start" *ngIf="validateOpinion['ID_ROL'].hasError('required')"><strong
                class="text-danger">Campo requerido!</strong> </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingrese usuario" formControlName="USUARIO" minlength="2" maxlength="15"
              onkeyup="javascript:this.value=this.value.toUpperCase();" onkeydown="return /[0-9A-Z]/i.test(event.key)">
            <mat-hint align="start" *ngIf="validateOpinion['USUARIO'].hasError('required')"><strong
                class="text-danger">Campo requerido!</strong> </mat-hint>
          </mat-form-field>
        </div>


        <div class="col-lg-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput placeholder="Ingrese su correo " formControlName="EMAIL" minlength="7">
            <!-- <mat-hint align="start" *ngIf="validateOpinion['EMAIL'].hasError('email')"><strong class="text-danger">Correo
              incorrecto!</strong> </mat-hint> -->
            <mat-hint align="start" *ngIf="validateOpinion['EMAIL'].hasError('required')"><strong
                class="text-danger">Campo requerido!</strong> </mat-hint>
            <mat-hint align="start" *ngIf="validateOpinion['EMAIL'].hasError('pattern')"><strong
                class="text-danger">Correo electronico invalido!</strong> </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="ID_ESTADO">
                <mat-option *ngFor="let item of (_estado.response$ | async)" [value]="item.ID_ESTADO">
                    {{item.ESTADO}}
                </mat-option>
                <mat-hint align="start" *ngIf="validateOpinion['ID_ESTADO'].hasError('required')"><strong
                        class="text-danger">Campo requerido!</strong> </mat-hint>
            </mat-select>
        </mat-form-field>
        </div>

      </div>

    </form>
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="m-1 botonnegro"
      (click)="guardar()">{{_service.register.get('ID_USUARIO')?.value ? "Actualizar":"Crear"}}</button>
    <button mat-raised-button color="warn" (click)="cerrarmodal()">Cerrar</button>
  </mat-card-actions>
</mat-card>