<mat-card class="p-3">
    <mat-card-title>
        <h4 class="text-center">
            <strong class="texto">{{_service.register.get('COD_PERSONA')?.value ? "ACTUALIZAR":"CREAR"}}</strong>
        </h4>
    </mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="_service.register">

            <div class="row">
                <h3>Información del paciente</h3>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Primer Nombre</mat-label>
                        <input matInput placeholder="Ingrese primer nombre" formControlName="PRIMER_NOMBRE"
                            maxlength="15"
                            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                            onkeyup="javascript:this.value=this.value.toUpperCase();" oncopy="return false"
                            onpaste="return false">

                    </mat-form-field>
                </div>

                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Segundo Nombre</mat-label>
                        <input matInput placeholder="Ingrese segundo nombre" formControlName="SEGUNDO_NOMBRE"
                            maxlength="15"
                            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                            onkeyup="javascript:this.value=this.value.toUpperCase();" oncopy="return false"
                            onpaste="return false">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Primer Apellido</mat-label>
                        <input matInput placeholder="Ingrese primer apellido" formControlName="PRIMER_APELLIDO"
                            maxlength="15" required
                            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                            onkeyup="javascript:this.value=this.value.toUpperCase();" oncopy="return false"
                            onpaste="return false">

                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Segundo Apellido</mat-label>
                        <input matInput placeholder="Ingrese segundo apellido" formControlName="SEGUNDO_APELLIDO"
                            maxlength="15"
                            onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                            onkeyup="javascript:this.value=this.value.toUpperCase();" oncopy="return false"
                            onpaste="return false">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Identidad</mat-label>
                        <input matInput placeholder="Ingrese identidad" formControlName="DNI" maxlength="13"
                            minlength="13" required
                            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 45 && event.charCode <= 45) )"
                            oncopy="return false" onpaste="return false">

                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Edad</mat-label>
                        <input matInput placeholder="Ingrese identidad" formControlName="EDAD" maxlength="3" required
                            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 45 && event.charCode <= 45) )"
                            oncopy="return false" onpaste="return false">

                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="SEXO">
                            <mat-option value="MASCULINO">Masculino</mat-option>
                            <mat-option value="FEMENINO">Femenino</mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>



                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Estado Civil</mat-label>
                        <mat-select formControlName="CIVIL">
                            <mat-option value="Soltero">Soltero</mat-option>
                            <mat-option value="Casado">Casado</mat-option>
                            <mat-option value="Unión libre">Unión libre</mat-option>

                        </mat-select>

                    </mat-form-field>
                </div>

                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Ocupación</mat-label>
                        <input matInput placeholder="Ingrese Ocupación" formControlName="OCUPACION" maxlength="100"
                            required>

                    </mat-form-field>
                </div>

                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha Nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="FEC_NACIMIENTO" [max]="fecha"
                            onkeydown="return false">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>
                </div>

                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Direccion</mat-label>
                        <input matInput placeholder="Ingrese primer apellido" formControlName="DIRECCION"
                            maxlength="250" required>

                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <h3>Contacto del paciente</h3>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="Ingrese su correo" formControlName="EMAIL" minlength="7">
                        <!-- <mat-hint align="start" *ngIf="validateOpinion['EMAIL'].hasError('email')"><strong class="text-danger">Correo
                        incorrecto!</strong> </mat-hint> -->

                    </mat-form-field>
                </div>

                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="Ingrese Teléfono" formControlName="TEL" maxlength="8" minlength="8"
                            required
                            onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 45 && event.charCode <= 45) )"
                            oncopy="return false" onpaste="return false">

                    </mat-form-field>
                </div>





            </div>

            <div class="row">
                <h3>Contacto de emergencia</h3>

                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Contacto de emergencia</mat-label>
                        <input matInput placeholder="Ingrese Ocupación" formControlName="CONTACTO_EMERGENCIA">
                        <!-- <mat-hint align="start" *ngIf="validateOpinion['EMAIL'].hasError('email')"><strong class="text-danger">Correo
                        incorrecto!</strong> </mat-hint> -->

                    </mat-form-field>
                </div>


                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="Ingrese Ocupación" formControlName="EMERGENCIA_TEL" maxlength="8" minlength="8"
                        required
                        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 45 && event.charCode <= 45) )"
                        oncopy="return false" onpaste="return false">
                        <!-- <mat-hint align="start" *ngIf="validateOpinion['EMAIL'].hasError('email')"><strong class="text-danger">Correo
                        incorrecto!</strong> </mat-hint> -->

                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <h3>Observaciones</h3>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Observaciones</mat-label>
                    <textarea rows="4" matInput placeholder="Ingrese Observaciones" formControlName="OBS"
                        maxlength="500"></textarea>
                </mat-form-field>


            </div>



            <!-- <div class="row">
                <h4><strong>Especialidad</strong></h4>
    
                    <div class="row">
                        <div class="col-lg-2" *ngFor="let item of (_especialidad.response$ | async)">
                            <mat-checkbox [(ngModel)]="especialidad[item.ID_ESPECIALIDAD]">{{item.NOMBRE}}</mat-checkbox>
                        </div>
                    </div>
              
            </div> -->


        </form>
    </mat-card-subtitle>
    <mat-card-actions>
        <button mat-raised-button class="m-3 botonnegro" color="primary"
            (click)="guardar()">{{_service.register.get('COD_PERSONA')?.value ?
            "Actualizar":"Crear"}}</button>
        <button mat-raised-button color="warn" (click)="cerrarmodal()">Cerrar</button>
    </mat-card-actions>
</mat-card>